
@font-face { font-family: 'LeeHyunJi'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/LeeHyunJi.woff') format('woff'); font-weight: normal; font-style: normal; }

@font-face { font-family: 'BRBA_B'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.2/BRBA_B.woff') format('woff'); font-weight: normal; font-style: normal; }

@font-face { font-family: 'SangSangFlowerRoad'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/SangSangFlowerRoad.woff') format('woff'); font-weight: normal; font-style: normal; }
 
@font-face { font-family: 'KimNamyun'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/KimNamyun.woff') format('woff'); font-weight: normal; font-style: normal; }

h1 {
    background-color: pink;
    font-family: 'SangSangFlowerRoad';
    font-size: 35px;
    text-align: center;
    padding: 20px;
}
li {
    font-family: 'LeeHyunJi';
    font-size: 25px;
    font-weight: bold;
    margin-left: 60px
}
p{font-family: 'LeeHyunJi';
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}
#nana{
    font-family: 'KimNamyun';
    font-weight: bold;
    font-size: 35px;
}
div{
    background-color: linen;
}
#mymy{
    font-size: 35px;
}