<!--서비스&아이디어 소개-->
{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/lioncup.css' %}">

<div>
    <p>
    <ol>
        <li>지그재그라는 앱처럼 배달 사이트를 한 곳에 모으는 것</li>
            <ul>
                <li>요기요나 배민, 배달통처럼 배달 대행 서비스가 정말 많다<br>
                    하지만, 제각각 혜택이나 할인금액, 기간병 이벤트, 쿠폰등 <br>
                    어느 사이트를 쓰느냐에 따라 주문금액이 천차 만별이고<br> 
                    각각의 사이트에서 어떠한 것으 더 할인 받을 수있는지 모른다 <br>
                    따라서 그러한 모든것을 한눈에 볼수있게 모아 놓은 서비스</li>
            </ul><br>
        <li>쉿! (독서실 예약 서비스)</li>
            <ul>
                <li>서비스 사용시 가까운 독서실의 정보를 안내한다</li>
                <li>각 독서실마다 가격안내, 어떵 서비스를 제공하는지, 음료, pc, 냉장고, 휴게실의 유무</li>
                <li>독서실 선택후 자리표를 보고 자리 선택을 바로 하고 간편결제 서비스 까지 도입</li>
                <li>독서실 이용 후엔 평점 후기 매겨서 평점순으로 독서실 나열</li>
            </ul><br>
        <li><여기톤 8조> 언니믿지? (성 지식 공유 사이트)</li><br>
        <li>to be continue...</li>
    </ol>
    </p>
</div>


{% endblock %}
